footer {
  background-color: #303F9F;
  height: 10vh;
  width: 100%;
  box-shadow: 0 2.5px 5px 5px rgba(0,0,0,0.5);
}
footer p {
  color: #C5CAE9;
  padding: 2em;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 375px) {
  footer p {
    font-size: 65%;
    padding: 1.5em;
  }
}
