section {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url(https://images.unsplash.com/photo-1424460421773-58b49adfc68a?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=);
  background-size: cover;
}
section a {
  display: inline;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  padding: 0.5em;
  width: 4em;
  border: 0px;
  border-radius: 2px;
  box-shadow: 0 2.5 2.5 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-align: center;
}

/*HEADER*/

section h1 {
  font-size: 500%;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #ffffff;
}
section h2 {
  font-size: 325%;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #ffffff;
}

  /*RESPONSIVE HEADER*/

  @media only screen and (max-width: 420px) {
    section h1 {
      display: none;
    }
  }
  @media only screen and (min-width: 421px) {
    section h2 {
      display: none;
    }
  }

/*BUTTON CLASSES*/

.om {
  font-size: 200%;
  background-color: #FFC107;
}
.køb {
  font-size: 200%;
  background-color: #3F51B5;
}
